body {
    background-color: #66999997;
}

h1,
ul {
    text-align: center;
    list-style-position: initial;
    font-family: "Times New Roman", Times, serif;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

h1 {
    color: #C90078;
    font-weight: 800;
    font-size: 40px;
}

ul {
    color: #4F2FA6;
    font-weight: 300;
    font-size: 18px;
}